---
import { Image } from 'astro:assets'
import proton from '../assets/images/proton.avif'
import yahoo from '../assets/images/yahoo.avif'
import gmail from '../assets/images/gmail.avif'
import copy from '../assets/images/copy.svg'

const email = 'patrick_alv@yahoo.com'
---

<script>
  import { mode } from '../stores/mode.js'
  import { gsap } from 'gsap'
  import vars from '../assets/js/variables.js'
  import programmingCopy from '../assets/images/bx--copy.svg'

  const duration = vars.duration
  const backgroundSize = vars.backgroundSize
  const ease = vars.ease

  const yemail = 'patrick_alv@yahoo.com'
  const gemail = 'pat.alcala9@gmail.com'
  const pemail = 'pat.alcala9@proton.me'

  const emailDisplay = document.getElementById('emailDisplay')
  const tabYmail = document.getElementById('tabYmail')
  const tabGmail = document.getElementById('tabGmail')
  const tabPmail = document.getElementById('tabPmail')
  const contactText = document.getElementById('contactText')
  const contactEmail = document.getElementById('contactEmail')
  const contactTabs = document.getElementById('contactTabs')
  const copyIcon = document.getElementById('copy_button_icon')

  const tabBackgroundColor = 'hsl(208, 26.30%, 11.20%)'
  const tabSelectedBackgroundColor = 'hsl(208, 26.30%, 50.20%)'

  tabYmail.addEventListener('click', () => {
    emailDisplay.innerText = yemail

    mode.subscribe((val) => {
      switch (val) {
        case 'programmerMode':
          gsap.to(tabYmail, {
            duration,
            color: vars.modeProgrammerTextColor,
            fontFamily: vars.modeProgrammerFontFamily,
            fontWeight: '500',
            border: `1px solid ${vars.modeProgrammerTextColor}`,
            padding: '0.25rem 0.5rem',
            borderRadius: '0.5rem',
            backgroundColor: tabSelectedBackgroundColor,
            backgroundSize,
            ease,
          })
          gsap.to(tabGmail, {
            duration,
            color: vars.modeProgrammerTextColor,
            fontFamily: vars.modeProgrammerFontFamily,
            fontWeight: '500',
            border: `1px solid ${vars.modeProgrammerTextColor}`,
            padding: '0.25rem 0.5rem',
            borderRadius: '0.5rem',
            backgroundColor: tabBackgroundColor,
            backgroundSize,
            ease,
          })
          gsap.to(tabPmail, {
            duration,
            color: vars.modeProgrammerTextColor,
            fontFamily: vars.modeProgrammerFontFamily,
            fontWeight: '500',
            border: `1px solid ${vars.modeProgrammerTextColor}`,
            padding: '0.25rem 0.5rem',
            borderRadius: '0.5rem',
            backgroundColor: tabBackgroundColor,
            backgroundSize,
            ease,
          })

          break
        case 'designerMode':
          gsap.to(tabYmail, {
            duration,
            color: vars.modeProgrammerTextColor,
            fontFamily: vars.modeProgrammerFontFamily,
            fontWeight: '500',
            border: `1px solid ${vars.modeProgrammerTextColor}`,
            padding: '0.25rem 0.5rem',
            borderRadius: '0.5rem',
            backgroundColor: tabBackgroundColor,
            backgroundSize,
            ease,
          })
          gsap.to(tabGmail, {
            duration,
            color: vars.modeProgrammerTextColor,
            fontFamily: vars.modeProgrammerFontFamily,
            fontWeight: '500',
            border: `1px solid ${vars.modeProgrammerTextColor}`,
            padding: '0.25rem 0.5rem',
            borderRadius: '0.5rem',
            backgroundColor: tabSelectedBackgroundColor,
            backgroundSize,
            ease,
          })
          gsap.to(tabPmail, {
            duration,
            color: vars.modeProgrammerTextColor,
            fontFamily: vars.modeProgrammerFontFamily,
            fontWeight: '500',
            border: `1px solid ${vars.modeProgrammerTextColor}`,
            padding: '0.25rem 0.5rem',
            borderRadius: '0.5rem',
            backgroundColor: tabBackgroundColor,
            backgroundSize,
            ease,
          })
          break
        case 'writerMode':
          break
        default:
          const defaultTabSelectedBackgroundColor = 'hsla(240, 24%, 75%, 0.8)'
          const defaultTabSelectedBorder = 'none'
          const defaultTabBackgroundColor = 'transparent'
          const defaultTabBorder = '1px solid hsla(240, 24%, 58%, 0.8)'

          gsap.to(tabYmail, {
            duration,
            border: defaultTabSelectedBorder,
            padding: '0',
            borderRadius: '0',
            backgroundColor: defaultTabSelectedBackgroundColor,
            ease,
          })
          gsap.to(tabGmail, {
            duration,
            border: defaultTabBorder,
            padding: '0',
            borderRadius: '0',
            backgroundColor: defaultTabBackgroundColor,
            ease,
          })
          gsap.to(tabPmail, {
            duration,
            border: defaultTabBorder,
            padding: '0',
            borderRadius: '0',
            backgroundColor: defaultTabBackgroundColor,
            ease,
          })
          break
      }
    })
  })

  tabGmail.addEventListener('click', () => {
    emailDisplay.innerText = gemail
    // tabYmail.style.backgroundColor = 'transparent'
    //   tabYmail.style.border = '1px solid hsla(240, 24%, 58%, 0.8)'
    //   tabGmail.style.backgroundColor = 'hsla(240, 24%, 75%, 0.8)'
    //   tabGmail.style.border = 'none'
    //   tabPmail.style.backgroundColor = 'transparent'
    //   tabPmail.style.border = '1px solid hsla(240, 24%, 58%, 0.8)'

    mode.subscribe((val) => {
      switch (val) {
        case 'programmerMode':
          gsap.to(tabYmail, {
            duration,
            color: vars.modeProgrammerTextColor,
            fontFamily: vars.modeProgrammerFontFamily,
            fontWeight: '500',
            border: `1px solid ${vars.modeProgrammerTextColor}`,
            padding: '0.25rem 0.5rem',
            borderRadius: '0.5rem',
            backgroundColor: tabBackgroundColor,
            backgroundSize,
            ease,
          })
          gsap.to(tabGmail, {
            duration,
            color: vars.modeProgrammerTextColor,
            fontFamily: vars.modeProgrammerFontFamily,
            fontWeight: '500',
            border: `1px solid ${vars.modeProgrammerTextColor}`,
            padding: '0.25rem 0.5rem',
            borderRadius: '0.5rem',
            backgroundColor: tabSelectedBackgroundColor,
            backgroundSize,
            ease,
          })
          gsap.to(tabPmail, {
            duration,
            color: vars.modeProgrammerTextColor,
            fontFamily: vars.modeProgrammerFontFamily,
            fontWeight: '500',
            border: `1px solid ${vars.modeProgrammerTextColor}`,
            padding: '0.25rem 0.5rem',
            borderRadius: '0.5rem',
            backgroundColor: tabBackgroundColor,
            backgroundSize,
            ease,
          })

          break
        case 'designerMode':
          gsap.to(tabYmail, {
            duration,
            color: vars.modeProgrammerTextColor,
            fontFamily: vars.modeProgrammerFontFamily,
            fontWeight: '500',
            border: `1px solid ${vars.modeProgrammerTextColor}`,
            padding: '0.25rem 0.5rem',
            borderRadius: '0.5rem',
            backgroundColor: tabBackgroundColor,
            backgroundSize,
            ease,
          })
          gsap.to(tabGmail, {
            duration,
            color: vars.modeProgrammerTextColor,
            fontFamily: vars.modeProgrammerFontFamily,
            fontWeight: '500',
            border: `1px solid ${vars.modeProgrammerTextColor}`,
            padding: '0.25rem 0.5rem',
            borderRadius: '0.5rem',
            backgroundColor: tabSelectedBackgroundColor,
            backgroundSize,
            ease,
          })
          gsap.to(tabPmail, {
            duration,
            color: vars.modeProgrammerTextColor,
            fontFamily: vars.modeProgrammerFontFamily,
            fontWeight: '500',
            border: `1px solid ${vars.modeProgrammerTextColor}`,
            padding: '0.25rem 0.5rem',
            borderRadius: '0.5rem',
            backgroundColor: tabBackgroundColor,
            backgroundSize,
            ease,
          })
          break
        case 'writerMode':
          break
        default:
          const defaultTabSelectedBackgroundColor = 'hsla(240, 24%, 75%, 0.8)'
          const defaultTabSelectedBorder = 'none'
          const defaultTabBackgroundColor = 'transparent'
          const defaultTabBorder = '1px solid hsla(240, 24%, 58%, 0.8)'

          gsap.to(tabYmail, {
            duration,
            border: defaultTabBorder,
            padding: '0',
            borderRadius: '0',
            backgroundColor: defaultTabBackgroundColor,
            ease,
          })
          gsap.to(tabGmail, {
            duration,
            border: defaultTabSelectedBorder,
            padding: '0',
            borderRadius: '0',
            backgroundColor: defaultTabSelectedBackgroundColor,
            ease,
          })
          gsap.to(tabPmail, {
            duration,
            border: defaultTabBorder,
            padding: '0',
            borderRadius: '0',
            backgroundColor: defaultTabBackgroundColor,
            ease,
          })
          break
      }
    })
  })

  tabPmail.addEventListener('click', () => {
    emailDisplay.innerText = pemail
    // tabYmail.style.backgroundColor = 'transparent'
    // tabYmail.style.border = '1px solid hsla(240, 24%, 58%, 0.8)'
    // tabGmail.style.backgroundColor = 'transparent'
    // tabGmail.style.border = '1px solid hsla(240, 24%, 58%, 0.8)'
    // tabPmail.style.backgroundColor = 'hsla(240, 24%, 75%, 0.8)'
    // tabPmail.style.border = 'none'

    mode.subscribe((val) => {
      switch (val) {
        case 'programmerMode':
          gsap.to(tabYmail, {
            duration,
            color: vars.modeProgrammerTextColor,
            fontFamily: vars.modeProgrammerFontFamily,
            fontWeight: '500',
            border: `1px solid ${vars.modeProgrammerTextColor}`,
            padding: '0.25rem 0.5rem',
            borderRadius: '0.5rem',
            backgroundColor: tabBackgroundColor,
            backgroundSize,
            ease,
          })
          gsap.to(tabGmail, {
            duration,
            color: vars.modeProgrammerTextColor,
            fontFamily: vars.modeProgrammerFontFamily,
            fontWeight: '500',
            border: `1px solid ${vars.modeProgrammerTextColor}`,
            padding: '0.25rem 0.5rem',
            borderRadius: '0.5rem',
            backgroundColor: tabBackgroundColor,
            backgroundSize,
            ease,
          })
          gsap.to(tabPmail, {
            duration,
            color: vars.modeProgrammerTextColor,
            fontFamily: vars.modeProgrammerFontFamily,
            fontWeight: '500',
            border: `1px solid ${vars.modeProgrammerTextColor}`,
            padding: '0.25rem 0.5rem',
            borderRadius: '0.5rem',
            backgroundColor: tabSelectedBackgroundColor,
            backgroundSize,
            ease,
          })

          break
        case 'designerMode':
          gsap.to(tabYmail, {
            duration,
            color: vars.modeProgrammerTextColor,
            fontFamily: vars.modeProgrammerFontFamily,
            fontWeight: '500',
            border: `1px solid ${vars.modeProgrammerTextColor}`,
            padding: '0.25rem 0.5rem',
            borderRadius: '0.5rem',
            backgroundColor: tabBackgroundColor,
            backgroundSize,
            ease,
          })
          gsap.to(tabGmail, {
            duration,
            color: vars.modeProgrammerTextColor,
            fontFamily: vars.modeProgrammerFontFamily,
            fontWeight: '500',
            border: `1px solid ${vars.modeProgrammerTextColor}`,
            padding: '0.25rem 0.5rem',
            borderRadius: '0.5rem',
            backgroundColor: tabSelectedBackgroundColor,
            backgroundSize,
            ease,
          })
          gsap.to(tabPmail, {
            duration,
            color: vars.modeProgrammerTextColor,
            fontFamily: vars.modeProgrammerFontFamily,
            fontWeight: '500',
            border: `1px solid ${vars.modeProgrammerTextColor}`,
            padding: '0.25rem 0.5rem',
            borderRadius: '0.5rem',
            backgroundColor: tabBackgroundColor,
            backgroundSize,
            ease,
          })
          break
        case 'writerMode':
          break
        default:
          const defaultTabSelectedBackgroundColor = 'hsla(240, 24%, 75%, 0.8)'
          const defaultTabSelectedBorder = 'none'
          const defaultTabBackgroundColor = 'transparent'
          const defaultTabBorder = '1px solid hsla(240, 24%, 58%, 0.8)'

          gsap.to(tabYmail, {
            duration,
            border: defaultTabBorder,
            padding: '0',
            borderRadius: '0',
            backgroundColor: defaultTabBackgroundColor,
            ease,
          })
          gsap.to(tabGmail, {
            duration,
            border: defaultTabBorder,
            padding: '0',
            borderRadius: '0',
            backgroundColor: defaultTabBackgroundColor,
            ease,
          })
          gsap.to(tabPmail, {
            duration,
            border: defaultTabSelectedBorder,
            padding: '0',
            borderRadius: '0',
            backgroundColor: defaultTabSelectedBackgroundColor,
            ease,
          })
          break
      }
    })
  })

  const copyButton = document.getElementById('copy_button')
  copyButton.addEventListener('click', () => navigator.clipboard.writeText(emailDisplay.innerHTML))

  mode.subscribe((val) => {
    switch (val) {
      case 'programmerMode':
        gsap.to(contactText, {
          duration,
          color: vars.modeProgrammerTextColor,
          fontFamily: vars.modeProgrammerFontFamily,
          fontWeight: '500',
          border: `1px solid ${vars.modeProgrammerTextColor}`,
          padding: '0.5rem',
          borderRadius: '0.5rem',
          backgroundColor: vars.modeProgrammerBackgroundColor,
          backgroundSize,
          ease,
        })
        gsap.to(contactEmail, {
          duration,
          color: vars.modeProgrammerTextColor,
          fontFamily: vars.modeProgrammerFontFamily,
          fontWeight: '500',
          border: `1px solid ${vars.modeProgrammerTextColor}`,
          padding: '0',
          borderRadius: '0.5rem',
          backgroundColor: vars.modeProgrammerBackgroundColor,
          backgroundSize,
          ease,
        })
        gsap.to(copyButton, {
          duration,
          color: vars.modeProgrammerTextColor,
          fontFamily: vars.modeProgrammerFontFamily,
          fontWeight: '500',
          border: `1px solid ${vars.modeProgrammerTextColor}`,
          padding: '0.25rem 0.5rem',
          borderRadius: '0.5rem',
          backgroundColor: vars.modeProgrammerBackgroundColor,
          backgroundSize,
          ease,
        })
        gsap.to(tabYmail, {
          duration,
          color: vars.modeProgrammerTextColor,
          fontFamily: vars.modeProgrammerFontFamily,
          fontWeight: '500',
          border: `1px solid ${vars.modeProgrammerTextColor}`,
          padding: '0.25rem 0.5rem',
          borderRadius: '0.5rem',
          backgroundColor: tabSelectedBackgroundColor,
          backgroundSize,
          ease,
        })
        gsap.to(tabGmail, {
          duration,
          color: vars.modeProgrammerTextColor,
          fontFamily: vars.modeProgrammerFontFamily,
          fontWeight: '500',
          border: `1px solid ${vars.modeProgrammerTextColor}`,
          padding: '0.25rem 0.5rem',
          borderRadius: '0.5rem',
          backgroundColor: tabBackgroundColor,
          backgroundSize,
          ease,
        })
        gsap.to(tabPmail, {
          duration,
          color: vars.modeProgrammerTextColor,
          fontFamily: vars.modeProgrammerFontFamily,
          fontWeight: '500',
          border: `1px solid ${vars.modeProgrammerTextColor}`,
          padding: '0.25rem 0.5rem',
          borderRadius: '0.5rem',
          backgroundColor: tabBackgroundColor,
          backgroundSize,
          ease,
        })
        gsap.to(tabPmail, {
          duration,
          color: vars.modeProgrammerTextColor,
          fontFamily: vars.modeProgrammerFontFamily,
          fontWeight: '500',
          border: `1px solid ${vars.modeProgrammerTextColor}`,
          padding: '0.25rem 0.5rem',
          borderRadius: '0.5rem',
          backgroundColor: tabBackgroundColor,
          backgroundSize,
          ease,
        })

        break
      case 'designerMode':
        gsap.to(contactText, {
          duration,
          color: vars.modeDesignerTextColor,
          fontFamily: vars.modeDesignerFontFamily,
          fontWeight: '500',
          border: 'none',
          padding: '0',
          borderRadius: '0.5rem',
          backgroundColor: 'transparent',
          backgroundSize,
          ease,
        })

        break
      case 'writerMode':
        gsap.to(contactText, {
          duration,
          color: vars.modeWriterTextColor,
          fontFamily: vars.modeWriterFontFamily,
          fontWeight: '500',
          border: 'none',
          padding: '0.5rem',
          borderRadius: '0.5rem',
          backgroundColor: vars.modeWriterBackgroundColor,
          backgroundSize,
          ease,
        })

        break
      default:
        break
    }
  })
</script>

<section class="contacts">
  <span class="contacts__text" id="contactText">Contacts</span>

  <div class="contacts__email" id="contactEmail">
    <section class="contacts__email__row">
      <span class="contacts__email__row__content" id="emailDisplay">{email}</span>
      <div class="contacts__email__row__content__icon" id="copy_button">
        <Image id="copy_button_icon" src={copy} alt="Yahoo Mail" quality={'mid'} width={16} />
        <!-- <Icon name="tabler:copy" /> -->
      </div>
    </section>
  </div>

  <div class="contacts__tabs" id="contactTabs">
    <div class="contacts__tab__selected" id="tabYmail">
      <Image src={yahoo} alt="Yahoo Mail" quality={'mid'} width={80} />
    </div>
    <div class="contacts__tab" id="tabGmail">
      <Image src={gmail} alt="Google Mail" quality={'mid'} width={70} />
    </div>
    <div class="contacts__tab" id="tabPmail">
      <Image src={proton} alt="Proton Mail" quality={'mid'} width={90} />
    </div>
  </div>
</section>

<style lang="sass">
  @use '/src/assets/css/variables.sass' as vars

  .contacts
    font-size: 1.125rem
    display: flex
    flex-direction: column
    gap: 0.5rem
    flex-wrap: wrap
    justify-content: center
    align-items: flex-start
    align-content: flex-start

    &__email
      display: grid
      align-items: center
      padding: 0 -1rem 0 1rem
      margin: 0.5rem 0 0 0
      width: 26.6875rem
      height: 3.5rem
      border: 1px solid vars.$borderColor
      background-color: vars.$contactBoxBackgroundColor

      &__row
        display: flex
        flex-direction: row
        justify-content: space-between

        &__content
          padding: 0 0 0 1rem

          &__icon
            cursor: pointer
            border: 1px solid white
            border-radius: 0.25rem
            padding: 0.25rem 0.5rem
            margin: 0 1rem 0 1rem

    &__tabs
      display: flex
      flex-direction: row
      gap: 0.6875rem
      width: 26.6875rem

    &__tab
      display: grid
      place-items: center
      width: 8.4375rem
      height: 2.125rem
      background-color: transparent
      border: 1px solid hsla(240, 24%, 58%, 0.8)
      cursor: pointer

      &__selected
        display: grid
        place-items: center
        width: 8.4375rem
        height: 2.125rem
        background-color: hsla(240, 24%, 75%, 0.8)
        border: none
        cursor: pointer
</style>
