---
import { Image } from 'astro:assets'
import protonlight from '../assets/images/protonlight.avif'
import yahoo from '../assets/images/yahoo.avif'
import gmail from '../assets/images/gmail.avif'

const email = 'patrick_alv@yahoo.com'
---

<script>
  import { mode } from '../stores/mode.js'
  import { gsap } from 'gsap'
  import vars from '../assets/js/variables.js'
  import proton from '../assets/images/proton.avif'
  import yahoo from '../assets/images/yahoo.avif'
  import gmail from '../assets/images/gmail.avif'

  import protonw from '../assets/images/proton.webp'
  import yahoow from '../assets/images/yahoo.webp'
  import gmailw from '../assets/images/gmail.webp'
  // import yahoolight from '../assets/images/yahoolight.avif'
  // import yahoolightw from '../assets/images/yahoolight.webp'
  import gmaillight from '../assets/images/gmaillight.avif'
  import gmaillightw from '../assets/images/gmaillight.webp'
  import protonlight from '../assets/images/protonlight.avif'
  import protonlightw from '../assets/images/protonlight.webp'

  const duration = vars.duration
  const backgroundSize = vars.backgroundSize
  const ease = vars.ease

  const yemail = 'patrick_alv@yahoo.com'
  const gemail = 'pat.alcala9@gmail.com'
  const pemail = 'pat.alcala9@proton.me'

  const emailDisplay = document.getElementById('emailDisplay')
  const tabYmail = document.getElementById('tabYmail')
  const tabGmail = document.getElementById('tabGmail')
  const tabPmail = document.getElementById('tabPmail')
  const tabYmailIcon = document.getElementById('tabYmail_icon')
  const tabGmailIcon = document.getElementById('tabGmail_icon')
  const tabPmailIcon = document.getElementById('tabPmail_icon')
  const contactText = document.getElementById('contactText')
  const contactEmail = document.getElementById('contactEmail')
  const contactTabs = document.getElementById('contactTabs')
  const copyIcon = document.getElementById('copy_button_icon')

  const tabBackgroundColorProgrammer = vars.tabBackgroundColorProgrammer
  const tabSelectedBackgroundColorProgrammer = vars.tabSelectedBackgroundColorProgrammer
  const tabBackgroundColorDesigner = vars.tabBackgroundColorDesigner
  const tabSelectedBackgroundColorDesigner = vars.tabSelectedBackgroundColorDesigner
  const tabBackgroundColorWriter = vars.tabBackgroundColorWriter
  const tabSelectedBackgroundColorWriter = vars.tabSelectedBackgroundColorWriter

  tabYmail.addEventListener('click', () => {
    emailDisplay.innerText = yemail
    navigator.clipboard.writeText('').then(() => {
      gsap.to(copyButton, {
        duration,
        innerText: 'Copy',
        fontSize: '0.75rem',
        fontWeight: '500',
        ease,
      })
    })

    mode.subscribe((val) => {
      switch (val) {
        case 'programmerMode':
          gsap.to(tabYmail, {
            duration,
            color: vars.modeProgrammerTextColor,
            border: `1px solid ${vars.modeProgrammerTextColor}`,
            backgroundColor: tabSelectedBackgroundColorProgrammer,
            ease,
          })
          gsap.to(tabGmail, {
            duration,
            color: vars.modeProgrammerTextColor,
            border: `1px solid ${vars.modeProgrammerTextColor}`,
            backgroundColor: tabBackgroundColorProgrammer,
            ease,
          })
          gsap.to(tabPmail, {
            duration,
            color: vars.modeProgrammerTextColor,
            border: `1px solid ${vars.modeProgrammerTextColor}`,
            backgroundColor: tabBackgroundColorProgrammer,
            ease,
          })
          break

        case 'designerMode':
          gsap.to(tabYmail, {
            duration,
            color: vars.modeProgrammerTextColor,
            fontFamily: vars.modeProgrammerFontFamily,
            fontWeight: '500',
            border: `1px solid ${vars.modeProgrammerTextColor}`,
            padding: '0.25rem 0.5rem',
            borderRadius: '150px',
            backgroundColor: tabSelectedBackgroundColorDesigner,
            backgroundSize,
            ease,
          })
          gsap.to(tabGmail, {
            duration,
            color: vars.modeProgrammerTextColor,
            fontFamily: vars.modeProgrammerFontFamily,
            fontWeight: '500',
            border: `1px solid ${vars.modeProgrammerTextColor}`,
            padding: '0.25rem 0.5rem',
            borderRadius: '150px',
            backgroundColor: tabBackgroundColorDesigner,
            backgroundSize,
            ease,
          })
          gsap.to(tabPmail, {
            duration,
            color: vars.modeProgrammerTextColor,
            fontFamily: vars.modeProgrammerFontFamily,
            fontWeight: '500',
            border: `1px solid ${vars.modeProgrammerTextColor}`,
            padding: '0.25rem 0.5rem',
            borderRadius: '150px',
            backgroundColor: tabBackgroundColorDesigner,
            backgroundSize,
            ease,
          })
          break

        case 'writerMode':
          gsap.to(tabYmail, {
            duration,
            color: vars.modeWriterTextColor,
            fontFamily: vars.modeWriterFontFamily,
            fontWeight: '500',
            border: `1px solid ${vars.modeWriterTextColor}`,
            padding: '0.25rem 0.5rem',
            borderRadius: '0',
            backgroundColor: tabSelectedBackgroundColorWriter,
            backgroundSize,
            ease,
          })
          gsap.to(tabGmail, {
            duration,
            color: vars.modeWriterTextColor,
            fontFamily: vars.modeWriterFontFamily,
            fontWeight: '500',
            border: `1px solid ${vars.modeWriterTextColor}`,
            padding: '0.25rem 0.5rem',
            borderRadius: '0',
            backgroundColor: tabBackgroundColorWriter,
            backgroundSize,
            ease,
          })
          gsap.to(tabPmail, {
            duration,
            color: vars.modeWriterTextColor,
            fontFamily: vars.modeWriterFontFamily,
            fontWeight: '500',
            border: `1px solid ${vars.modeWriterTextColor}`,
            padding: '0.25rem 0.5rem',
            borderRadius: '0',
            backgroundColor: tabBackgroundColorWriter,
            backgroundSize,
            ease,
          })
          break

        default:
          const defaulttabSelectedBackgroundColor = 'hsla(240, 24%, 75%, 0.8)'
          const defaultTabSelectedBorder = 'none'
          const defaulttabBackgroundColor = 'transparent'
          const defaultTabBorder = '1px solid hsla(240, 24%, 58%, 0.8)'

          gsap.to(tabYmail, {
            duration,
            border: defaultTabSelectedBorder,
            padding: '0',
            borderRadius: '0',
            backgroundColor: defaulttabSelectedBackgroundColor,
            ease,
          })
          gsap.to(tabGmail, {
            duration,
            border: defaultTabBorder,
            padding: '0',
            borderRadius: '0',
            backgroundColor: defaulttabBackgroundColor,
            ease,
          })
          gsap.to(tabPmail, {
            duration,
            border: defaultTabBorder,
            padding: '0',
            borderRadius: '0',
            backgroundColor: defaulttabBackgroundColor,
            ease,
          })
          break
      }
    })
  })

  tabGmail.addEventListener('click', () => {
    emailDisplay.innerText = gemail
    navigator.clipboard.writeText('').then(() => {
      gsap.to(copyButton, {
        duration,
        innerText: 'Copy',
        fontSize: '0.75rem',
        fontWeight: '500',
        ease,
      })
    })

    mode.subscribe((val) => {
      switch (val) {
        case 'programmerMode':
          gsap.to(tabYmail, {
            duration,
            color: vars.modeProgrammerTextColor,
            fontFamily: vars.modeProgrammerFontFamily,
            fontWeight: '500',
            border: `1px solid ${vars.modeProgrammerTextColor}`,
            padding: '0.25rem 0.5rem',
            borderRadius: '0.5rem',
            backgroundColor: tabBackgroundColorProgrammer,
            backgroundSize,
            ease,
          })
          gsap.to(tabGmail, {
            duration,
            color: vars.modeProgrammerTextColor,
            fontFamily: vars.modeProgrammerFontFamily,
            fontWeight: '500',
            border: `1px solid ${vars.modeProgrammerTextColor}`,
            padding: '0.25rem 0.5rem',
            borderRadius: '0.5rem',
            backgroundColor: tabSelectedBackgroundColorProgrammer,
            backgroundSize,
            ease,
          })
          gsap.to(tabPmail, {
            duration,
            color: vars.modeProgrammerTextColor,
            fontFamily: vars.modeProgrammerFontFamily,
            fontWeight: '500',
            border: `1px solid ${vars.modeProgrammerTextColor}`,
            padding: '0.25rem 0.5rem',
            borderRadius: '0.5rem',
            backgroundColor: tabBackgroundColorProgrammer,
            backgroundSize,
            ease,
          })
          break
        case 'designerMode':
          gsap.to(tabYmail, {
            duration,
            color: vars.modeProgrammerTextColor,
            fontFamily: vars.modeProgrammerFontFamily,
            fontWeight: '500',
            border: `1px solid ${vars.modeProgrammerTextColor}`,
            padding: '0.25rem 0.5rem',
            borderRadius: '150px',
            backgroundColor: tabBackgroundColorDesigner,
            backgroundSize,
            ease,
          })
          gsap.to(tabGmail, {
            duration,
            color: vars.modeProgrammerTextColor,
            fontFamily: vars.modeProgrammerFontFamily,
            fontWeight: '500',
            border: `1px solid ${vars.modeProgrammerTextColor}`,
            padding: '0.25rem 0.5rem',
            borderRadius: '150px',
            backgroundColor: tabSelectedBackgroundColorDesigner,
            backgroundSize,
            ease,
          })
          gsap.to(tabPmail, {
            duration,
            color: vars.modeProgrammerTextColor,
            fontFamily: vars.modeProgrammerFontFamily,
            fontWeight: '500',
            border: `1px solid ${vars.modeProgrammerTextColor}`,
            padding: '0.25rem 0.5rem',
            borderRadius: '150px',
            backgroundColor: tabBackgroundColorDesigner,
            backgroundSize,
            ease,
          })
          break
        case 'writerMode':
          gsap.to(tabYmail, {
            duration,
            color: vars.modeWriterTextColor,
            fontFamily: vars.modeWriterFontFamily,
            fontWeight: '500',
            border: `1px solid ${vars.modeWriterTextColor}`,
            padding: '0.25rem 0.5rem',
            borderRadius: '0',
            backgroundColor: tabBackgroundColorWriter,
            backgroundSize,
            ease,
          })
          gsap.to(tabGmail, {
            duration,
            color: vars.modeWriterTextColor,
            fontFamily: vars.modeWriterFontFamily,
            fontWeight: '500',
            border: `1px solid ${vars.modeWriterTextColor}`,
            padding: '0.25rem 0.5rem',
            borderRadius: '0',
            backgroundColor: tabSelectedBackgroundColorWriter,
            backgroundSize,
            ease,
          })
          gsap.to(tabPmail, {
            duration,
            color: vars.modeWriterTextColor,
            fontFamily: vars.modeWriterFontFamily,
            fontWeight: '500',
            border: `1px solid ${vars.modeWriterTextColor}`,
            padding: '0.25rem 0.5rem',
            borderRadius: '0',
            backgroundColor: tabBackgroundColorWriter,
            backgroundSize,
            ease,
          })
          break

        default:
          const defaulttabSelectedBackgroundColor = 'hsla(240, 24%, 75%, 0.8)'
          const defaultTabSelectedBorder = 'none'
          const defaulttabBackgroundColor = 'transparent'
          const defaultTabBorder = '1px solid hsla(240, 24%, 58%, 0.8)'

          gsap.to(tabYmail, {
            duration,
            border: defaultTabBorder,
            padding: '0',
            borderRadius: '0',
            backgroundColor: defaulttabBackgroundColor,
            ease,
          })
          gsap.to(tabGmail, {
            duration,
            border: defaultTabSelectedBorder,
            padding: '0',
            borderRadius: '0',
            backgroundColor: defaulttabSelectedBackgroundColor,
            ease,
          })
          gsap.to(tabPmail, {
            duration,
            border: defaultTabBorder,
            padding: '0',
            borderRadius: '0',
            backgroundColor: defaulttabBackgroundColor,
            ease,
          })
          break
      }
    })
  })

  tabPmail.addEventListener('click', () => {
    emailDisplay.innerText = pemail
    navigator.clipboard.writeText('').then(() => {
      gsap.to(copyButton, {
        duration,
        innerText: 'Copy',
        fontSize: '0.75rem',
        fontWeight: '500',
        ease,
      })
    })

    mode.subscribe((val) => {
      switch (val) {
        case 'programmerMode':
          gsap.to(tabYmail, {
            duration,
            color: vars.modeProgrammerTextColor,
            fontFamily: vars.modeProgrammerFontFamily,
            fontWeight: '500',
            border: `1px solid ${vars.modeProgrammerTextColor}`,
            padding: '0.25rem 0.5rem',
            borderRadius: '0.5rem',
            backgroundColor: tabBackgroundColorProgrammer,
            backgroundSize,
            ease,
          })
          gsap.to(tabGmail, {
            duration,
            color: vars.modeProgrammerTextColor,
            fontFamily: vars.modeProgrammerFontFamily,
            fontWeight: '500',
            border: `1px solid ${vars.modeProgrammerTextColor}`,
            padding: '0.25rem 0.5rem',
            borderRadius: '0.5rem',
            backgroundColor: tabBackgroundColorProgrammer,
            backgroundSize,
            ease,
          })
          gsap.to(tabPmail, {
            duration,
            color: vars.modeProgrammerTextColor,
            fontFamily: vars.modeProgrammerFontFamily,
            fontWeight: '500',
            border: `1px solid ${vars.modeProgrammerTextColor}`,
            padding: '0.25rem 0.5rem',
            borderRadius: '0.5rem',
            backgroundColor: tabSelectedBackgroundColorProgrammer,
            backgroundSize,
            ease,
          })

          break
        case 'designerMode':
          gsap.to(tabYmail, {
            duration,
            color: vars.modeProgrammerTextColor,
            fontFamily: vars.modeProgrammerFontFamily,
            fontWeight: '500',
            border: `1px solid ${vars.modeProgrammerTextColor}`,
            padding: '0.25rem 0.5rem',
            borderRadius: '150px',
            backgroundColor: tabBackgroundColorDesigner,
            backgroundSize,
            ease,
          })
          gsap.to(tabGmail, {
            duration,
            color: vars.modeProgrammerTextColor,
            fontFamily: vars.modeProgrammerFontFamily,
            fontWeight: '500',
            border: `1px solid ${vars.modeProgrammerTextColor}`,
            padding: '0.25rem 0.5rem',
            borderRadius: '150px',
            backgroundColor: tabBackgroundColorDesigner,
            backgroundSize,
            ease,
          })
          gsap.to(tabPmail, {
            duration,
            color: vars.modeProgrammerTextColor,
            fontFamily: vars.modeProgrammerFontFamily,
            fontWeight: '500',
            border: `1px solid ${vars.modeProgrammerTextColor}`,
            padding: '0.25rem 0.5rem',
            borderRadius: '150px',
            backgroundColor: tabSelectedBackgroundColorDesigner,
            backgroundSize,
            ease,
          })
          break
        case 'writerMode':
          gsap.to(tabYmail, {
            duration,
            color: vars.modeWriterTextColor,
            fontFamily: vars.modeWriterFontFamily,
            fontWeight: '500',
            border: `1px solid ${vars.modeWriterTextColor}`,
            padding: '0.25rem 0.5rem',
            borderRadius: '0',
            backgroundColor: tabBackgroundColorWriter,
            backgroundSize,
            ease,
          })
          gsap.to(tabGmail, {
            duration,
            color: vars.modeWriterTextColor,
            fontFamily: vars.modeWriterFontFamily,
            fontWeight: '500',
            border: `1px solid ${vars.modeWriterTextColor}`,
            padding: '0.25rem 0.5rem',
            borderRadius: '0',
            backgroundColor: tabBackgroundColorWriter,
            backgroundSize,
            ease,
          })
          gsap.to(tabPmail, {
            duration,
            color: vars.modeWriterTextColor,
            fontFamily: vars.modeWriterFontFamily,
            fontWeight: '500',
            border: `1px solid ${vars.modeWriterTextColor}`,
            padding: '0.25rem 0.5rem',
            borderRadius: '0',
            backgroundColor: tabSelectedBackgroundColorWriter,
            backgroundSize,
            ease,
          })
          break

        default:
          const defaulttabSelectedBackgroundColor = 'hsla(240, 24%, 75%, 0.8)'
          const defaultTabSelectedBorder = 'none'
          const defaulttabBackgroundColor = 'transparent'
          const defaultTabBorder = '1px solid hsla(240, 24%, 58%, 0.8)'

          gsap.to(tabYmail, {
            duration,
            border: defaultTabBorder,
            padding: '0',
            borderRadius: '0',
            backgroundColor: defaulttabBackgroundColor,
            ease,
          })
          gsap.to(tabGmail, {
            duration,
            border: defaultTabBorder,
            padding: '0',
            borderRadius: '0',
            backgroundColor: defaulttabBackgroundColor,
            ease,
          })
          gsap.to(tabPmail, {
            duration,
            border: defaultTabSelectedBorder,
            padding: '0',
            borderRadius: '0',
            backgroundColor: defaulttabSelectedBackgroundColor,
            ease,
          })
          gsap.to(tabPmailIcon, {
            duration,
            content: `url(${proton})`,
            ease,
          })
          break
      }
    })
  })

  const copyButton = document.getElementById('copy_button')
  copyButton.addEventListener('click', () => {
    navigator.clipboard.writeText(emailDisplay.innerHTML)

    gsap.to(copyButton, {
      duration,
      innerText: 'Copied',
      fontSize: '0.75rem',
      fontWeight: '700',
      ease,
    })
  })

  mode.subscribe((val) => {
    switch (val) {
      case 'programmerMode':
        gsap.to(contactText, {
          duration,
          color: vars.modeProgrammerTextColor,
          fontFamily: vars.modeProgrammerFontFamily,
          fontWeight: '500',
          border: `1px solid ${vars.modeProgrammerTextColor}`,
          padding: '0.5rem',
          borderRadius: '0.5rem',
          backgroundColor: vars.modeProgrammerBackgroundColor,
          backgroundSize,
          ease,
        })
        gsap.to(contactEmail, {
          duration,
          color: vars.modeProgrammerTextColor,
          fontFamily: vars.modeProgrammerFontFamily,
          fontWeight: '500',
          border: `1px solid ${vars.modeProgrammerTextColor}`,
          padding: '0',
          borderRadius: '0.5rem',
          backgroundColor: vars.modeProgrammerBackgroundColor,
          backgroundSize,
          ease,
        })
        gsap.to(copyButton, {
          duration,
          color: vars.modeProgrammerTextColor,
          fontFamily: vars.modeProgrammerFontFamily,
          fontWeight: '500',
          border: `1px solid ${vars.modeProgrammerTextColor}`,
          padding: '0.25rem 0.5rem',
          borderRadius: '0.5rem',
          backgroundColor: vars.modeProgrammerBackgroundColor,
          backgroundSize,
          ease,
        })
        gsap.to(tabYmail, {
          duration,
          color: vars.modeProgrammerTextColor,
          border: `1px solid ${vars.modeProgrammerTextColor}`,
          padding: '0.25rem 0.5rem',
          borderRadius: '0.5rem',
          backgroundColor: tabSelectedBackgroundColorProgrammer,
          backgroundSize,
          ease,
        })
        gsap.to(tabGmail, {
          duration,
          color: vars.modeProgrammerTextColor,
          border: `1px solid ${vars.modeProgrammerTextColor}`,
          padding: '0.25rem 0.5rem',
          borderRadius: '0.5rem',
          backgroundColor: tabBackgroundColorProgrammer,
          backgroundSize,
          ease,
        })
        gsap.to(tabPmail, {
          duration,
          color: vars.modeProgrammerTextColor,
          border: `1px solid ${vars.modeProgrammerTextColor}`,
          padding: '0.25rem 0.5rem',
          borderRadius: '0.5rem',
          backgroundColor: tabBackgroundColorProgrammer,
          backgroundSize,
          ease,
        })
        gsap.to(tabYmailIcon, {
          duration,
          content: `url(${yahoo.src})`,
          ease,
        })
        gsap.to(tabGmailIcon, {
          duration,
          content: `url(${gmaillight.src})`,
          ease,
        })
        gsap.to(tabPmailIcon, {
          duration,
          content: `url(${protonlight.src})`,
          ease,
        })
        break

      case 'designerMode':
        gsap.to(contactText, {
          duration,
          color: vars.modeDesignerTextColor,
          fontFamily: vars.modeDesignerFontFamily,
          fontWeight: '500',
          border: 'none',
          padding: '0',
          borderRadius: '0.5rem',
          backgroundColor: 'transparent',
          backgroundSize,
          ease,
        })
        gsap.to(contactEmail, {
          duration,
          color: vars.modeDesignerBackgroundColor,
          fontFamily: vars.modeDesignerFontFamily,
          fontWeight: '500',
          border: `1px solid ${vars.modeDesignerTextColor}`,
          padding: '0',
          borderRadius: '2rem',
          backgroundColor: vars.modeDesignerTextColor,
          backgroundSize,
          ease,
        })
        gsap.to(copyButton, {
          duration,
          color: vars.modeDesignerTextColor,
          fontFamily: vars.modeDesignerFontFamily,
          fontWeight: '500',
          border: `1px solid ${vars.modeDesignerTextColor}`,
          padding: '0.25rem 0.5rem',
          borderRadius: '2rem',
          backgroundColor: 'rgba(0, 0, 0, 0.6)',
          backgroundSize,
          ease,
        })
        gsap.to(tabYmail, {
          duration,
          color: vars.modeDesignerTextColor,
          border: `1px solid ${vars.modeDesignerTextColor}`,
          padding: '0.25rem 0.5rem',
          borderRadius: '150px',
          backgroundColor: tabSelectedBackgroundColorDesigner,
          backgroundSize,
          ease,
        })
        gsap.to(tabGmail, {
          duration,
          color: vars.modeDesignerTextColor,
          border: `1px solid ${vars.modeDesignerTextColor}`,
          padding: '0.25rem 0.5rem',
          borderRadius: '150px',
          backgroundColor: tabBackgroundColorDesigner,
          backgroundSize,
          ease,
        })
        gsap.to(tabPmail, {
          duration,
          color: vars.modeDesignerTextColor,
          border: `1px solid ${vars.modeDesignerTextColor}`,
          padding: '0.25rem 0.5rem',
          borderRadius: '150px',
          backgroundColor: tabBackgroundColorDesigner,
          backgroundSize,
          ease,
        })
        gsap.to(tabYmailIcon, {
          duration,
          content: `url(${yahoo.src})`,
          ease,
        })
        gsap.to(tabGmailIcon, {
          duration,
          content: `url(${gmail.src})`,
          ease,
        })
        gsap.to(tabPmailIcon, {
          duration,
          content: `url(${proton.src})`,
          ease,
        })
        break
      case 'writerMode':
        gsap.to(contactText, {
          duration,
          color: vars.modeWriterTextColor,
          fontFamily: vars.modeWriterFontFamily,
          fontWeight: '500',
          border: 'none',
          padding: '0',
          borderRadius: '0',
          backgroundColor: 'transparent',
          backgroundSize,
          ease,
        })
        gsap.to(contactEmail, {
          duration,
          color: vars.modeWriterTextColor,
          fontFamily: vars.modeWriterFontFamily,
          fontWeight: '500',
          border: `1px solid ${vars.modeWriterTextColor}`,
          padding: '0',
          borderRadius: '0',
          backgroundColor: 'rgba(245, 245, 245, 1)',
          backgroundSize,
          ease,
        })
        gsap.to(copyButton, {
          duration,
          color: vars.modeWriterTextColor,
          fontFamily: vars.modeWriterFontFamily,
          fontWeight: '500',
          border: `1px solid ${vars.modeWriterTextColor}`,
          padding: '0.25rem 0.5rem',
          borderRadius: '0',
          backgroundColor: vars.modeWriterBackgroundColor,
          backgroundSize,
          ease,
        })
        gsap.to(tabYmail, {
          duration,
          color: vars.modeWriterTextColor,
          fontFamily: vars.modeWriterFontFamily,
          fontWeight: '500',
          border: `1px solid ${vars.modeWriterTextColor}`,
          padding: '0.25rem 0.5rem',
          borderRadius: '0',
          backgroundColor: tabSelectedBackgroundColorWriter,
          backgroundSize,
          ease,
        })
        gsap.to(tabGmail, {
          duration,
          color: vars.modeWriterTextColor,
          fontFamily: vars.modeWriterFontFamily,
          fontWeight: '500',
          border: `1px solid ${vars.modeWriterTextColor}`,
          padding: '0.25rem 0.5rem',
          borderRadius: '0',
          backgroundColor: tabBackgroundColorWriter,
          backgroundSize,
          ease,
        })
        gsap.to(tabPmail, {
          duration,
          color: vars.modeDesignerTextColor,
          fontFamily: vars.modeDesignerFontFamily,
          fontWeight: '500',
          border: `1px solid ${vars.modeWriterTextColor}`,
          padding: '0.25rem 0.5rem',
          borderRadius: '0',
          backgroundColor: tabBackgroundColorWriter,
          backgroundSize,
          ease,
        })
        gsap.to(tabYmailIcon, {
          duration,
          content: `url(${yahoo.src})`,
          ease,
        })
        gsap.to(tabGmailIcon, {
          duration,
          content: `url(${gmail.src})`,
          ease,
        })
        gsap.to(tabPmailIcon, {
          duration,
          content: `url(${proton.src})`,
          ease,
        })
        break
      default:
        break
    }
  })
</script>

<section class="contacts">
  <span class="contacts__text" id="contactText">Contacts</span>

  <div class="contacts__email" id="contactEmail">
    <section class="contacts__email__row">
      <span class="contacts__email__row__content" id="emailDisplay">{email}</span>
      <div class="contacts__email__row__content__icon" id="copy_button">
        <span id="copy_button_icon">Copy</span>
      </div>
    </section>
  </div>

  <div class="contacts__tabs" id="contactTabs">
    <div class="contacts__tab__selected" id="tabYmail">
      <Image src={yahoo} alt="Yahoo Mail" quality={'mid'} width={80} />
    </div>
    <div class="contacts__tab" id="tabGmail">
      <Image src={gmail} alt="Google Mail" quality={'mid'} width={70} />
    </div>
    <div class="contacts__tab" id="tabPmail">
      <Image id="tabPmail_icon" src={protonlight} alt="Proton Mail" quality={'mid'} width={90} />
    </div>
  </div>
</section>

<style lang="sass">
  @use '/src/assets/css/variables.sass' as vars

  .contacts
    font-size: 1.125rem
    display: flex
    flex-direction: column
    gap: 0.5rem
    flex-wrap: wrap
    justify-content: center
    align-items: flex-start
    align-content: flex-start

    &__email
      display: grid
      align-items: center
      padding: 0 -1rem 0 1rem
      margin: 0 0 0 0
      width: 26.6875rem
      height: 3.5rem
      border: 1px solid vars.$borderColor
      background-color: vars.$contactBoxBackgroundColor

      &__row
        display: flex
        flex-direction: row
        justify-content: space-between

        &__content
          padding: 0 0 0 1rem

          &__icon
            cursor: pointer
            border: 1px solid white
            border-radius: 0.25rem
            padding: 0.25rem 0.5rem
            margin: 0 1rem 0 1rem

            &:has(span)
              font-size: 0.75rem

    &__tabs
      display: flex
      flex-direction: row
      gap: 0.6875rem
      width: 26.6875rem

    &__tab
      display: grid
      place-items: center
      width: 8.4375rem
      height: 2.125rem
      background-color: transparent
      border: 1px solid hsla(240, 24%, 58%, 0.8)
      cursor: pointer

      &__selected
        display: grid
        place-items: center
        width: 8.4375rem
        height: 2.125rem
        background-color: hsla(240, 24%, 75%, 0.8)
        border: none
        cursor: pointer
</style>
