---
const { title, pageDescription } = Astro.props
---

<script>
  import { mode } from '../stores/mode.js'
  import { gsap } from 'gsap'
  import vars from '../assets/js/variables.js'
  import backgroundA from '../assets/images/backgroundA2.avif'
  import backgroundW from '../assets/images/backgroundW2.webp'
  import programmingA from '../assets/images/programmingA.avif'
  import programmingW from '../assets/images/programmingW.webp'
  import designingA from '../assets/images/designingA.avif'
  import designingW from '../assets/images/designingW.webp'
  import writingA from '../assets/images/writingA.avif'
  import writingW from '../assets/images/writingW.webp'

  const body = document.getElementById('body')
  const layout = document.getElementById('layout')

  const duration = vars.duration
  const backgroundSize = vars.backgroundSize
  const ease = vars.ease
  const opacityDefault = 0.2
  const opacityModed = 0.5

  mode.subscribe((val) => {
    switch (val) {
      case 'programmerMode':
        gsap.to(body, {
          duration,
          backgroundImage: `url('${programmingA.src}'), url('${programmingW.src}')`,
          opacity: opacityModed,
          backgroundSize,
          ease: vars.ease,
        })
        gsap.to(layout, {
          duration,
          backgroundColor: vars.modeProgrammerBackgroundColor,
          ease,
        })

        break
      case 'designerMode':
        gsap.to(body, {
          duration,
          backgroundImage: `url('${designingA.src}'), url('${designingW.src}')`,
          opacity: opacityModed,
          backgroundSize,
          ease,
        })
        gsap.to(layout, {
          duration,
          backgroundColor: vars.modeDesignerBackgroundColor,
          ease,
        })
        break
      case 'writerMode':
        gsap.to(body, {
          duration,
          backgroundImage: `url('${writingA.src}'), url('${writingW.src}')`,
          opacity: opacityModed,
          backgroundSize,
          ease,
        })
        gsap.to(layout, {
          duration,
          backgroundColor: vars.modeWriterBackgroundColor,
          ease,
        })
        break
      default:
        gsap.to(body, {
          duration,
          backgroundColor: 'none',
          backgroundImage: `url('${backgroundA.src}'), url('${backgroundW.src}')`,
          opacity: opacityDefault,
          backgroundSize,
          ease,
        })
        break
    }
  })
</script>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/icon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content=`${pageDescription} of Patrick Alvin Alcala` />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body class="layout" id="layout">
    <div id="body"></div>
    <slot />
  </body>
</html>

<style lang="sass" is:global>
  @use '/src/assets/css/variables.sass' as vars

  @font-face
    font-family: 'Fira Code Variable'
    font-style: normal
    font-display: swap
    font-weight: 300 700
    src: url(@fontsource-variable/fira-code/files/fira-code-latin-wght-normal.woff2) format('woff2-variations')
    unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD

  @font-face
    font-family: 'Montserrat Variable'
    font-style: normal
    font-display: swap
    font-weight: 100 900
    src: url(@fontsource-variable/montserrat/files/montserrat-latin-wght-normal.woff2) format('woff2-variations')
    unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD

  @font-face
    font-family: 'Playfair Display Variable'
    font-style: normal
    font-display: swap
    font-weight: 400 900
    src: url(@fontsource-variable/playfair-display/files/playfair-display-latin-wght-normal.woff2) format('woff2-variations')
    unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD

  @font-face
    font-family: 'Cormorant Garamond Variable'
    font-style: normal
    font-display: swap
    font-weight: 300 700
    src: url(@fontsource-variable/cormorant-garamond/files/cormorant-garamond-latin-wght-normal.woff2) format('woff2-variations')
    unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD

  .text
    font-family: vars.$fontFamily
    color: vars.$textColor

  .layout
    background-color: vars.$backgroundColor
    position: absolute
    top: 0
    left: 0
    width: 100vw
    width: 100svw
    height: 100vh
    height: 100svh
    overflow: auto
    margin: 0
    object-fit: cover

  #body
    position: fixed
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    object-fit: cover
    z-index: -1
    // opacity: 0.5
</style>
